<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Campionat de baschet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Arya" rel="stylesheet">
    <link rel="icon" type="image/png" href="../assets/img/favicon.png" sizes="32x32">
    <link rel="stylesheet" type="text/css" href="../fotbal/mosu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="../_assets/img/sisc-favicon.png" sizes="32x32">
</head>

<body>

    <a href="https://hope.sisc.ro/"><button class="btn"><i class="fa fa-home"></i></button></a>

      <!----
        
        
        <div class="window">

        <div class="santa">
            <div class="head">
                <div class="face">
                    <div class="redhat">
                        <div class="whitepart"></div>
                        <div class="redpart"></div>
                        <div class="hatball"></div>
                    </div>
                    <div class="eyes"></div>
                    <div class="beard">
                        <div class="nouse"></div>
                        <div class="mouth"></div>
                    </div>
                </div>
                <div class="ears"></div>
            </div>
            <div class="body"></div>
        </div>
    -->

    <img class="confirm-baschet" src="../_assets/img/campionat-baschet-confirm.png">

    
    <div class="message">
        <h1 class="message__final">Te-ai înscris cu succes!</h1>
    </div>
</body>

</html>